---
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for code in ["es", "en"] %}
{%- for item in collections.all %}
{%- if item.data.lang == code %}
  <url>
    <loc>{{ site.url }}{{ routes[item.data.key][code] }}</loc>
    <xhtml:link rel="alternate" hreflang="es-CL" href="{{ site.url }}{{ routes[item.data.key].es }}"/>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}{{ routes[item.data.key].en }}"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ routes[item.data.key].es }}"/>
    <lastmod>{{ item.date | isoDate }}</lastmod>
  </url>
{%- endif %}
{%- endfor %}
{%- endfor %}
</urlset>
